$IMCCONFIG

# IMC2 Freedom CL-2.2 Rom24b6 config file.
# This file can now support the use of tildes in your strings.
# This information can be edited online using the 'imcconfig' command.
LocalName      EotC
Autoconnect    1
MinPlayerLevel 10
MinImmLevel    207
AdminLevel     215
Implevel       215
InfoName       Eye Of The Cyclops
InfoHost       a
InfoPort       a
InfoEmail      a
InfoWWW        Mud's webpage
InfoBase       Rom24b6
InfoDetails    a

# Your server connection information goes here.
# This information should be available from the network you plan to join.
ServerAddr     server01.mudbytes.net
ServerPort     5000
ClientPwd      asdf
ServerPwd      asdf
#SHA256 auth: 0 = disabled, 1 = enabled
SHA256         0
End

$END
